{
  "parser": "babel-eslint",
  "plugins": ["node"],
  "extends": ["plugin:node/recommended", "prettier"],
  "rules": {
    "indent": "off",
    "node/no-unsupported-features": "off",
    "arrow-parens": ["error", "as-needed"],
    "no-tabs": "off",
    "import/no-extraneous-dependencies": [
      "off",
      {
        "devDependencies": true
      }
    ],
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "semi": "off",
    "comma-dangle": ["error", "never"],
    "no-param-reassign": "warn"
  },
  "env": {
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"]
      }
    }
  }
}
